.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 57px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__left__text {
  color: #292F36;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.header__right {
  display: flex;
  gap: 50px;
}
.header__right__nav {
  color: #292F36;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", serif;
  font-family: "Jost", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-img__img {
  width: 100%;
}

.header-nav-elem {
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
  margin-top: -177px;
  padding: 41px 78px;
  max-width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-nav-elem__title {
  color: #292F36;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.header-nav-elem__bread-crumbs__crumb {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.latest-post {
  max-width: 1201px;
  margin-top: 200px;
}
.latest-post__header {
  color: #292F36;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  margin-bottom: 27px;
}
.latest-post__content {
  display: flex;
  padding: 21px;
  gap: 65px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.latest-post__content__text {
  padding-top: 51px;
  max-width: 489px;
}
.latest-post__content__text__title {
  color: #292F36;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}
.latest-post__content__text__discribe {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.latest-post__content__text__footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.articles-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articles-news__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 811px;
  margin-bottom: 53px;
}
.articles-news__header__title {
  color: #292F36;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  padding-top: 96px;
  padding-bottom: 12px;
}
.articles-news__header__subtitle {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.articles-news__carts {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.articles-news__carts__box {
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.articles-news__carts__cart {
  max-width: 340px;
}
.articles-news__carts__cart__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=blog.css.map */